{% extends '../_layouts/layout.njk' %}
{% set __PAGE_SLUG__ = "index" %}
{% set __PAGE_TITLE__ = "RSVP - Chase & Larissa's Wedding" %}
{% set __PAGE_DESCRIPTION__ = "Home page description!" %}

{% set __PER_PAGE_CSS__ = false %}
{% set __PER_PAGE_JS__ = false %}

{% block content %}






<div class="section" id="home">

  <div class="stage t-center">
    <div class="outline relative">

      <div class="home-image col xs-hide sm-col-5">
        
      </div>

      <div class="clearfix">
        <div class="col col-12 sm-col-7 right">
          <div class="mb2">
            <h1 class="title">
              Larissa Alexandria
            </h1>
            <p class="text">
              and
            </p>
            <h1 class="title">
              Chase Pietrantonio
            </h1>
          </div>
          <div class="mb2">
            <h3 class="text text--first">
              August 11, 2018
            </h3>
            <h3 class="text text--first">
              Halifax, Nova Scotia
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="section" id="rsvp">

  <div class="stage t-center">
    <div class="outline">
      <div class="mb2">
        <h2 class="section__title text">
          R.S.V.P.
        </h2>
      </div>


      <div class="mx-auto mxw-30 mb2">
        <p class="text text--first hide-if-submitted">
          Please use the form below to RSVP:
        </p>

        <p class="text text--first show-if-submitted">
          Thank you for submitting the form! Have a great day. <a href="" id="reset-form">Send another?</a>
        </p>
      </div>

      <div class="md-mt3 md-mb1 mx-auto col-12 mxw-20 hide-if-submitted">

        <form id="contact" action="https://formspree.io/chase.larissa.wedding@gmail.com" method="POST">

          <div class="mb2">
            <input type="text" name="first last name" class="input mb1" placeholder="First & Last Name" required>
            <input type="email" name="email" class="input mb1" placeholder="Email Address" required>
            <input type="text" name="guest" class="input mb1" placeholder="Guest Name">
            <textarea name="notes" class="input" placeholder="Dietary Notes"></textarea>
          </div>


          <p class="text mb1">
            Will you be attending?
          </p>
          <div class="clearfix mb2 sm-px3">
            <div class="col col-6">
              <label for="yes">
                <input id="yes" class="ml1" type="radio" name="attending" value="yes" checked="checked" required>
                Yes
              </label>
            </div>
            <div class="col col-6">
              <label for="no">
                <input id="no" class="ml1" type="radio" name="attending" value="no">
                No
              </label>
            </div>
          </div>


          <div class="md-mb2">
            <input type="submit" class="btn col-12" value="Send" required>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>




{# 
<div class="section hide" id="schedule">

  <div class="stage t-center">
    <div class="outline">
      <div class="mb2">
        <h2 class="text text--first">
          SCHEDULE
        </h2>
      </div>

      <div class="mb3 mx-auto mxw-40">
        <p class="text text--first">
          Saturday, the eleventh of August <br>
          two thousand and eighteen <br>
          at four o’clock <br>
          340A Purcells Cove Road <br>
          Halifax, Nova Scotia
        </p>
      </div>

      <div class="mb1 md-mb3 mx-auto mxw-30">
        <p class="text">
          <a class="btn col-12" href="/chase-and-larissa-wedding.ics">Add Calendar Event (.ics)</a>
        </p>
      </div>

      <img class="floral" src="images/floral-image.jpg" srcset="images/floral-image.jpg 1x, images/floral-image@2x.jpg 2x"/>
    </div>
  </div>
</div>
 #}



<div class="section section--about" id="visit">

  <div class="stage t-center">
    <div class="outline">
      <div class="mb2">
        <h2 class="section__title text text--first">
          Visit Nova scotia
        </h2>
      </div>


      <div class="mb1 mx-auto mxw-40">
        <p class="">
          Nova Scotia is world renowned for its beauty, history, and hospitality. Known as Canada’s ocean playground, there are plenty of things to do while visiting this sea-wrapped province. From wine tours, to ocean cruises, culinary adventures and music festivals, there is so much to discover! 
        </p>
      </div>

      <div class="mb2 mx-auto mxw-30">
        <p class="">
          To learn more about traveling to Nova Scotia; <br>
          <a href="https://www.novascotia.com/">Visit Nova Scotia Tourism and download the travel guide</a>
        </p>
      </div>

      <div class="mb3 mx-auto mxw-40">
        <p class="">
          Fun fact: Larissa and Chase met and fell in love at at <br> 
          Acadia University in Wolfville, Nova Scotia. <span class="red">❤</span>
        </p>
      </div>

      <img class="floral" src="images/floral-image.jpg" srcset="images/floral-image.jpg 1x, images/floral-image@2x.jpg 2x"/>
    </div>
  </div>

</div>




<div class="section section--accomodations" id="accommodations">

  <div class="stage t-center">
    <div class="outline">
      <div class="mb2">
        <h2 class="section__title text text--first">
          Accommodations
        </h2>
      </div>

      <div class="mb2 mx-auto mxw-40 md-px2">
        <p class="">
          There are many options for accommodation in Downtown Halifax, and you can easily search them online. Bellow are a few that Chase and Larissa recommend. 
        </p>
      </div>

      <div class="mb3 mx-auto mxw-40 t-center">
        <ul class="list col-10 t-left sm-col-7">
          <li>
            <p class="fs11">
              <a href="https://www.tripadvisor.com/Hotel_Review-g154976-d155429-Reviews-The_Westin_Nova_Scotian-Halifax_Halifax_Region_Nova_Scotia.html">
                The Westin Nova Scotian</a>
            </p>
            <p class="mbp5">1181 Hollis Street, Halifax, NS, B3H 2P6*</p>
            <p><strong class="fw-bold">Note:</strong> The Westin Nova Scotian is graciously offering a reduced rate of 25% for all guests attending the Law-Pietrantonio wedding</p>
          </li>
          <li>
            <p class="fs11 ">
              <a href="https://www.tripadvisor.com/Hotel_Review-g154976-d182775-Reviews-The_Lord_Nelson_Hotel_Suites-Halifax_Halifax_Region_Nova_Scotia.html">
                The Lord Nelson Hotel</a>
              <p>1515 South Park Street, Halifax, NS, B3J 2L2</p>
            </p>
          </li>
          <li>
            <p class="fs11 ">
              <a href="https://www.tripadvisor.com/Hotel_Review-g154976-d671728-Reviews-Best_Western_Plus_Chocolate_Lake_Hotel-Halifax_Halifax_Region_Nova_Scotia.html">
                The Best Western Plus Chocolate Lake</a>
            </p>
            <p>250 St Margarets Bay Rd, Halifax, NS B3N 1J4</p>
          </li>
          <li>
            <p class="fs11 ">
              <a href="https://www.airbnb.com/s/Melville-Cove--Armdale--Halifax--NS--Canada/homes">
                AirBnB</a>
            </p>
          </li>
        </ul>
      </div>

      {# <img class="floral" src="images/floral-image.jpg" srcset="images/floral-image.jpg 1x, images/floral-image@2x.jpg 2x"/> #}
    </div>

  </div>
</div>


<div class="section" id="schedule">

  <div class="stage t-center">
    <div class="outline">
      <div class="mb2">
        <h2 class="section__title text text--first">
          SCHEDULE
        </h2>
      </div>

      <div class="mb3 mx-auto mxw-40">
        <p class="text text--first">
          Saturday, the eleventh of August <br>
          two thousand and eighteen <br>
          at four o’clock <br>
          340A Purcells Cove Road <br>
          Halifax, Nova Scotia
        </p>
      </div>

      <div class="mb1 md-mb3 mx-auto mxw-30">
        <p class="text">
          <a class="btn col-12" href="/chase-and-larissa-wedding.ics">Add Calendar Event (.ics)</a>
        </p>
      </div>

      <img class="floral" src="images/floral-image.jpg" srcset="images/floral-image.jpg 1x, images/floral-image@2x.jpg 2x"/>
    </div>
  </div>
</div>




<div class="section section--guests" id="guests">
  <div class="stage flex t-center">
    <div class="outline">
      <div class="mb2">
        <h2 class="section__title text text--first">
          Guest Information
        </h2>
      </div>


      <div class="mx-auto mxw-40">
        <div class="mb4">
          <div class="mb2">
            <h2 class="section__title--sub">
              Weekend Events
            </h2>
          </div>

          <div class="guest-item">
            <h4>Welcome Get Together</h4>
            <p>Friday, Aug. 10, 2018</p>
            <p><strong>Time</strong>: 7:00 p.m.</p>
            <p><strong>Venue</strong>: Lot 6, 1685 Argyle Street, Halifax</p>
            <p><strong>Dress</strong>: As you like for a Friday night drink</p>
          </div>

          <div class="guest-item">
            <h4>The Ceremony</h4>
            <p>Saturday, Aug. 11, 2018 4:00 p.m.</p>
            <p><strong>Time</strong>: 7:00 p.m.</p>
            <p><strong>Venue</strong>: 340a Purcells Cove Road Halifax, Nova Scotia B3P 1C7</p>
            <p><strong>Dress</strong>: Summer Cocktail Party</p>
          </div>

          <div class="guest-item">
            <h4>Informal Morning After Brunch</h4>
            <p>Sunday, Aug. 12, 2018</p>
            <p><strong>Time</strong>: TBD</p>
            <p><strong>Venue</strong>: 7156 Chebucto Rd, Halifax, Nova Scotia B3L 1N4</p>
            <p><strong>Dress</strong>: Casual</p>
          </div>
        </div>




        <div class="mb4">
          <div class="mb1">
            <h2>
              The Wedding
            </h2>
          </div>

          <div class="guest-item">
            <h4>Hosts</h4>
            <p>Bruce and Carol Law</p>
          </div>
          <div class="guest-item">
            <h4>Venue</h4>
            <p>The beautiful home of Vanessa Law and Robinson Manson, overlooking the Halifax Northwest Arm.</p>
          </div>

          <div class="guest-item">
            <h4>The Wedding Party</h4>

            <div class="mb1">
              <p><strong>Mother of the Bride</strong>- Carol Law</p>
              <p><strong>Father of the Bride</strong>- Bruce Law</p>
            </div>

            <div class="mb1">
              <p><strong>Mother of the Groom</strong>- Heather Downe</p>
              <p><strong>Father of the Groom</strong>- Lorenzo Pietrantonio</p>
            </div>

            <div class="guest-item">
              <p><strong>Maid of Honour</strong>- Therese Schweppe</p>
              <p><strong>Best Man</strong>- Adam Pietrantonio</p>
              <p><strong>Ring Barer</strong>- Stephano Champaigne</p>
            </div>
          </div>
        </div>



        <div class="mb4">
          <div class="mb1">
            <h2>
              Getting There
            </h2>
          </div>

          <div class="guest-item">
            <h4>By Air</h4>
            <p>Please book your flights with a final destination of Halifax Stanfield International Airport (YHZ)</p>
          </div>

          <div class="guest-item">
            <h4>By Car</h4>
            <p>Enter Nova Scotia through the Trans-Canada Hwy via New Brunswick (NB-2 E); continue onto the Trans-Canada Hwy in Nova Scotia (NS-104 E), which turns into the 102. Continue on HWY 102 into downtown Halifax. </p>
          </div>


          <div class="guest-item">
            <h4>Map</h4>
            <p><a href="https://www.google.com/maps/place/340A+Purcells+Cove+Rd,+Halifax,+NS+B3P+1C7,+Canada/data=!4m2!3m1!1s0x4b5a22135a6385b1:0xc769758f2b97b334?sa=X&ved=0ahUKEwi-2caxup_bAhUE9IMKHQzAC2gQ8gEIKDAA">Google Maps</a></p>
          </div>

          <div class="guest-item">
            <h4>Other Information</h4>
            <p><a id="js-trigger-modal-trans" href="#">Transportation Information</a></p>
            <p><a id="js-trigger-modal-children" href="#">Children and Additional Guests</a></p>
          </div>


        </div>



      </div>
    </div>
  </div>
</div>




<div class="modal" id="modal--transport">
  <div class="modal__content">
    <h4>Transportation Information</h4>
    <br>

    <p>Guests can rent a car from many well-known rental companies at the Halifax airport, or in downtown Halifax</p>
    <p>Airport car and bus services are also available</p>
    <p>It takes approximately 25 min. to drive to downtown Halifax</p>
    <br>

    <p>As there is very limited parking at the wedding venue, taxis are recommended as transportation to the wedding venue. Unfortunately there is no Uber or Lyft service in Halifax. </p>
    <p>A cab ride from downtown Halifax will cost approx. $20.00</p>
    <br>

    <p>Larissa and Chase have also arranged for two water taxis to transport guests by water to the wedding venue</p>
    <p>Pick-up will be at 3:00 and 3:30 p.m.  from Bishop’s Landing on the Halifax waterfront. Water taxi’s sit up to eight people each, and the journey will take approximately 20 minutes, travelling out of the Halifax Harbour and around the Peninsula, down the Halifax arm.</p>
    <p>For more information, please see their Instagram page.</p>
    <br>

    <p>Throughout the evening a town car will be available to take guests back to their hotels, or to an alternate destination down town.</p>
    <p>Rides will begin at 6:00 p.m. until 11:00 p.m.</p>
  </div>
</div>


<div class="modal" id="modal--children">
  <div class="modal__content">
    <h4>Children and Additional Guests</h4>
    <br>

    <p>All invited guests should be listed on your invitation. If you have a question about a plus one, or bringing little ones, please reach out to Chase and Larissa directly.</p>
  </div>
</div>





{% endblock %}
