<html>
  <head>
    <title>{{__PAGE_TITLE__}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{__PAGE_DESCRIPTION__}}">

    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">

    <link rel="stylesheet" href="./css/global.css">
    {% if __PER_PAGE_CSS__ %}
    <link rel="stylesheet" href="./css/{{__PAGE_SLUG__}}.css"></script>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="./css/libs/fullPage.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="./js/libs/fullPage.js"></script>

  </head>
  <body>
    <header id="header" class="">
      <ul id="navigation">
        <li>
          <a class="navigation__link" href="#home">Home</a>
        </li>
        <li>
          <a class="navigation__link" href="#rsvp">RSVP</a>
        </li>
      	<li>
          <a class="navigation__link" href="#visit">Visit <span class="xs-hide">Nova Scotia</span></a>
        </li>
      	<li>
          <a class="navigation__link" href="#accommodations">Accommodations</a>
        </li>
      	<li>
          <a class="navigation__link" href="#schedule">Schedule</a>
        </li>
      	<li>
          <a class="navigation__link" href="#guests">Guest Information</a>
        </li>
      </ul>
    </header>

    <div id="content">
      {% block content %}{% endblock %}
    </div>


    {% if __PER_PAGE_JS__ %}
    <script src="./js/{{__PAGE_SLUG__}}.js"></script>
    {% endif %}

    <script type="text/javascript">

      $('#contact').submit(function(e) {
        localStorage.setItem('rsvp-sent', true)
      });

      $('#reset-form').click(function(e) {
        e.preventDefault();
        localStorage.removeItem('rsvp-sent');
        $('.hide-if-submitted').show();
        $('.show-if-submitted').hide();
      });

      var animationUtil = function (index) {
        $($('.section')[index]).addClass('animating-out');

        setTimeout(function () {
          $($('.section')[index]).removeClass('animating-out');
        }, 500);
      }



      $(document).ready(function() {
        if (localStorage.getItem('rsvp-sent')) {
          $('.hide-if-submitted').hide();
          $('.show-if-submitted').show();
        }


        var $container = $('#header')

        $(window).on('scroll', function (e){
          var winTop = $(this).scrollTop();
          var $divs = $('.section');

          var top = $.grep($divs, function(item) {
            return $(item).position().top <= winTop + 100;
          });
          
          var activeId = top.slice(-1).pop().id;

          $('.navigation__link').removeClass('active');
          $('.navigation__link').each(function( index, element ) {
            if($(element).attr("href") == '#' + activeId){
              $(element).addClass('active');
            }
          });
        });    


        // Nav menu scroll
        $(".navigation__link").click(function (){
          var targetId = this.href.split("#")[1];

          $('html, body').animate({
              scrollTop: $('#' + targetId).offset().top - 50
          }, 300);
        })

        // Modals

        // Modal Transportation
        $('#js-trigger-modal-trans').click(function(e) {
          e.preventDefault();

          $('#modal--transport').toggleClass('active');
        });


        $('#js-trigger-modal-children').click(function(e) {
          e.preventDefault();

          $('#modal--children').toggleClass('active');
        });


        // General
        $('#modal--transport').click(function(e) {
          $(this).removeClass('active');
        });
        // General
        $('#modal--children').click(function(e) {
          $(this).removeClass('active');
        });

        $('.modal__content').click(function(e) {
          e.stopPropagation()
        });

        $('#header').click(function(e) {
          $('.modal').removeClass('active');
        });

      });
    </script>

    <noscript>
      <style>
        *, * {
          opacity: 1;
        }
      </style>
    </noscript>

  </body>
</html>
